.navbar {
  padding 1rem;
  font: Segoe UI
  font-color: black
  display: flex;
  width:80%;

}

.FOOTER {
  padding 1rem;
  background-color: blue;
}

.btn-primary {
  background-color: red;
  color: white;
}

.container2{
  display: flex;
 justify-content: center;
   height:40px;
 width: 100%;
}

.white-text{
  color: white

}

.bottom{
  color:gray;
}

.vertical-center{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;

}

.nav-link{
  color:black
}

.container1{
  width:1100px;
  height:500px;
}

.hero-background-img {
  position: relative;
  background-image: url("Surface Family.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
